 <div class="row align-item-center intro-container">
  <div class="col-md-8 intro align-self-center">
    <h1>Hey!, I'm Phuc Tuong</h1>
    <p>
      this is my personal blog writes about my life, coding, healthy,
      science...
    </p>
  </div>
  <div class="col-md-4 btn-intro align-self-center">
    <a asp-controller="Home" asp-action="Contact" type="button" class="btn-graper">
      <button class="rounded-pill btn-rounded">Get in touch <span><i class="fas fa-arrow-right"></i></span></button>
    </a>
  </div>
</div> 