@use '../custom' as *;

.table th,
.table td {
  max-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#content {
  max-width: 400px;
}

.table-manage {
  max-width: 100vw;
  overflow: scroll;
}
