@use '../custom' as *;
@use '../Components/mixins' as *;

.footer {
  background-color: $light;
}

.contact-box {
  display: flex;
  flex-direction: row;

  &__icon {
    flex-basis: 4rem;
    flex-shrink: 1;
    width: fit-content;
    height: fit-content;
    stroke: $primary-gradient;
    padding-top: 0.5rem;
    i {
      font-size: 3rem;
      @include media-breakpoint-down(sm) {
        font-size: 3.75rem;
      }
    }
    &:hover {
      @include gradient-text;
    }
  }

  &__info {
    padding: 0.4rem;
    font-weight: 600;
    &--title {
      color: $dark;
      text-decoration: none;
      font-size: 1em;
      @include media-breakpoint-down(sm) {
        font-size: 0.9rem;
      }
    }

    &--subtitle {
      font-size: 0.8rem;
      color: $dark;
      text-decoration: none;
    }
    &:hover {
      @include gradient-text;
    }
  }
  @include media-breakpoint-between(md, lg) {
    flex-direction: column;
    &__icon {
      align-self: center;
    }
  }
}

// STYLE THE SOCIAL MEDIA CONTENT
.footer-sm {
  a {
    color: $light;
    font-size: 1rem;
    margin-left: 1rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.6rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
    &:hover {
      i {
        @include gradient-text;
      }
    }
  }
}

// STYLE THE COPYRIGHT  CONTENT
.footer-bottom {
  background-color: $footer;

  &__copyright {
    color: $gray-600;
    font-weight: 400;

    a {
      color: $gray-600;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        @include gradient-text;
        text-decoration: underline;
      }
    }
  }
}
