@use '../custom' as *;
@use '../Components/mixins' as *;

#nav-fixed-top {
  padding-block: 1rem;
  min-height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  animation: slideDown 0.5s ease-in-out;
  -webkit-animation: slideDown 0.5s ease-in-out;
}

#nav-fixed-top.slide-up {
  top: -50%;
  animation: slide-up-animation 0.5s ease-in-out forwards;
  -webkit-animation: slide-up-animation 0.5s ease-in-out forwards;
}

.narbar {
  position: relative;
}

.nav-item:hover {
  a {
    font-weight: 700;
  }
}

.nav-bg {
  @include gradient;
}

.navbar-collapse {
  transition: height 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
}

.navbar-custom {
  padding-right: 6rem;
}

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

//category nav for posts
.post-navbar {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  // padding: 1.5rem 1rem 1.5rem 1rem;
  overflow-x: auto;
  /*Enablehorizontalscrolling*/
  white-space: nowrap;
  /*Preventlinebreaks*/
  border-bottom: 0.5px $dark-light solid;
  margin-bottom: 2rem;
  transition: top 0.5s ease-out;
  -webkit-transition: top 0.5s ease-out;
  -moz-transition: top 0.5s ease-out;
  -ms-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &--fixed {
    position: fixed;
    border-bottom: none;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $light;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

.post-nav-list {
  min-height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  @include media-breakpoint-down(md) {
    gap: 1.5rem;
  }
}

.post-nav-item {
  height: fit-content;
  display: flex;
  align-items: center;
  &--active {
    border-bottom: $primary 0.2rem solid;
  }
  &:hover {
    background-color: #f0f0f0;
  }
  a {
    font-size: 400;
    white-space: nowrap;
    color: $dark;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
}
@media screen and (max-width: 400px) {
  .post-navbar {
    justify-content: flex-start;
    padding: 2rem 1rem 1rem 1rem;
  }
}
