@use '../custom' as *;
@use '../Components//typography' as *;

.search-container {
  padding: 0;
  @media screen and (max-width: 768px) {
    padding-inline: 1rem;
  }
}

.category-name {
  margin-top: 2rem;
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
    padding-inline: 1rem;
  }
}

.post-container {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  margin-top: 2rem;
  flex: 1 0 33.33%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
  align-items: flex-start;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
    padding-inline: 1rem;
  }
  .post-not-found {
    color: $dark-light;
  }
}

.post-item {
  padding: 0 0 1rem 0;
  max-width: calc((100% - 3rem) / 3);
  height: 500px;
  max-height: auto;
  flex: 1 0 32%;
  box-sizing: border-box;
  a {
    display: block;
    height: fit-content;
    text-decoration: none;
    color: inherit;
  }

  .button-64 {
    display: flex;
    margin: 1rem 0 1rem 0;
    font-size: 0.75rem;
    align-items: center;
    background-image: $primary-gradient;
    border: 0;
    border-radius: 4rem;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Phantomsans, sans-serif;
    justify-content: center;
    line-height: 1em;
    max-width: fit-content;
    min-width: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    white-space: nowrap;
  }

  img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65%;
  }
  h5 {
    height: 20%;
    color: $dark;
  }
  &:hover {
    h5 {
      color: $black;
    }
  }
  p {
    height: 20%;
    max-height: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media screen and (min-width: 776px) and (max-width: 1055px) {
    img {
      height: 50%;
    }
  }
  @include media-breakpoint-down(md) {
    p {
      height: 15%;
      max-height: 15%;
    }
  }
  @include media-breakpoint-up(md) {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1rem;
  }
}

@media (max-width: 775px) {
  .post-container {
    flex-direction: column;
    gap: 2rem;
  }

  .post-item {
    max-width: 100%;
    height: 70%;
  }
}

.post {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  .content {
    width: 100%;
    margin-top: 4rem;
    font-family: $nunito;
    font-size: 1.1em;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      padding-inline: 1rem;
      margin-top: 1rem;
    }
  }
  .post-info-sm {
    display: block;
  }

  .post-info-md {
    display: none;
  }

  .post-info-md,
  .post-info-sm {
    padding-inline: 1rem;
    @media screen and (min-width: 768px) {
      padding-left: 0;
      padding-right: 2rem;
    }
    h1 {
      color: $dark-light;
    }
  }
  .img-container {
    padding: 0;
    margin: 0;
    img {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    .post-info-sm {
      display: none;
    }
    .post-info-md {
      display: block;
    }
  }
}
